#define SECRET_TEL_NB "33600000000"
#define SECRET_PINNUMBER "" // leave empty if no password
#define SECRET_SMS_API_TOKEN ""
#define GPRS_APN "mmsbouygtel.com" // to change, it is just for example
#define GPRS_LOGIN "" // leave empty
#define GPRS_PASSWORD "" // leave empty